<%- include('partials/head', {title: "Home Page"}) %>
<style>
  .title {
    text-align: center;
  }
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

</style>

  <%if(role){%>
    <%- include('partials/navbar', {role:role}) %>
    <%}else {%>
    <%- include('partials/navbarGuest') %>
    <%}%>
  <h1 class="title">Welcome ~</h1>
  <img src="https://media.suara.com/pictures/653x366/2020/07/26/92303-ilustrasi-olshop-online-shop-toko-online.jpg" style="width:100%;" alt="Cafe">
<%- include('partials/foot') %>