<%- include('partials/head', {title: "Home Page"}) %>
<style>
  .title {
    text-align: center;
  }
</style>

  <%if(role){%>
    <%- include('partials/navbar', {role:role}) %>
    <%}else {%>
    <%- include('partials/navbarGuest') %>
    <%}%>
  <h1 class="title">Welcome ~</h1>

<%- include('partials/foot') %>