<%- include('partials/head', {title: "Home Page"}) %>
<%- include('partials/navbar') %>
<style>
    .title {
    text-align: center;
  }
</style>
<h1 class="title">Welcome ~</h1>
<%- include('partials/foot') %>